<%= form_for(@carts_product) do |f| %>
  <% if @carts_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carts_product.errors.count, "error") %> prohibited this carts_product from being saved:</h2>

      <ul>
      <% @carts_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cart_id %><br>
    <%= f.number_field :cart_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
