<p id="notice"><%= notice %></p>

<h1>Listing Cart Products</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts_products.each do |carts_product| %>
      <tr>
        <td><%= link_to carts_product.product.name, carts_product %></td>
        <td><%= carts_product.quantity %></td>
        <td><%= link_to 'Edit quantity', edit_carts_product_path(carts_product) %></td>
        <td><%= link_to 'Remove', carts_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
