<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.code, product %></td>
      <td><%= link_to product.name, product %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= link_to 'Add to Basket', product, :class=>"btn btn-success btn-sm pull-right" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
